.navbar {
  background: rgba(20, 20, 20, 0.9);
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fff !important;
}